
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




.RedDrop{
  background-color: #FF6060;
  color:white
}


.HoteCard{
  display: flex;
flex-direction : column;

}
.LocCard{
  display:flex;
flex-direction: column;
justify-content :start;
width: 50%;
}

.DescripBox{
  width:50%;
}
  .EquipBox{
    width:50%;
  }

@media screen and (max-width: 800px) {
  
 
  .InfoLocation{
    display:flex;
    flex-direction:column;
  }
  .HoteCard{
    /* display: gird;
    grid-template-columns:1fr 1fr; */
    display:flex;
    flex-direction: row-reverse;
    /* background-color:black; */
    
  }
  .HotePresentation{
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* display:flex;
    max-width:50%; */
 }
  .StarCard{
    display:flex;
    flex-direction:column;
    /* display:flex;
    max-width:50%  */
  }
  .LocCard{
    width:100%;
  }
  .DescripAccordionBox{
    display:flex;
    flex-direction:column;
    justify-contents:space-around;
   
    gap:20px;
  }
  .DescripBox{
    width:100%;
    
  }
  .EquipBox{
    width:100%;
  }
}

